[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/users/mqraitem/image_pred
User=mqraitem
ExecStart=/usr/bin/python3 server-my.py

[Install]
WantedBy=multi-user.target
