[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/users/mqraitem/geni_project 
User=mqraitem
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 worker.py 8080

[Install]
WantedBy=multi-user.target
