[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/users/mqraitem/geni_project/server
User=mqraitem
ExecStart=/usr/bin/python3 start_server.py 

[Install]
WantedBy=multi-user.target
